@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
:root {
  --body--font: 'Noto Sans KR', sans-serif;

  /* Colors */
  --white-color: #ffffff;
  --black-color: #141414;
  --gray-color: #616161;
  --blue-color: #0336ff;
  --red-color: #b71c1c;

  --gray-color-100: #f3f3f3;
  --gray-color-200: #e7e7e7;
  --gray-color-300: #dcdcdc;
  --gray-color-400: #d0d0d0;
  --gray-color-500: #c4c4c4;
  --gray-color-600: #aaa9a9;
  --gray-color-700: #767676;
  --gray-color-800: #4e4e4e;
  --gray-color-900: #272727;

  --blue-color-100: #cceafa;
  --blue-color-200: #65cde3;
  --blue-color-300: #61bfe6;
  --blue-color-400: #33abe9;
  --blue-color-500: #0096e4;
  --blue-color-600: #0074e9;
  --blue-color-700: #005a89;
  --blue-color-800: #003c5b;
  --blue-color-900: #001e2e;

  --red-color-100: #fad3d6;
  --red-color-200: #f5a7ac;
  --red-color-300: #ef7b83;
  --red-color-400: #ea4f59;
  --red-color-500: #e52330;
  --red-color-600: #b71c26;
  --red-color-700: #89151d;
  --red-color-800: #5c0e13;
  --red-color-900: #2e070a;

  --ornage-color-100: #faded3;
  --ornage-color-300: #f5c4a7;
  --ornage-color-400: #efa07b;
  --ornage-color-500: #ea8d4f;
  --ornage-color-600: #e56a23;
  --ornage-color-700: #894315;
  --ornage-color-800: #5c2d0e;
  --ornage-color-900: #2e1507;

  --green-color-100: #f4f5d2;
  --green-color-200: #e9eba5;
  --green-color-300: #dde177;
  --green-color-400: #d2d74a;
  --green-color-500: #c7cd1d;
  --green-color-600: #9fa417;
  --green-color-700: #777b11;
  --green-color-800: #50520c;
  --green-color-900: #282906;

  --brown-color-100: #dfd5d4;
  --brown-color-200: #bfaba9;
  --brown-color-300: #9d7a6d;
  --brown-color-400: #7e5852;
  --brown-color-500: #5e2e27;
  --brown-color-600: #4b251f;
  --brown-color-700: #381c17;
  --brown-color-800: #261210;
  --brown-color-900: #130908;

  --purple-color-100: #dfd8f2;
  --purple-color-200: #beb0e6;
  --purple-color-300: #9e89d9;
  --purple-color-400: #7d61cd;
  --purple-color-500: #5d3ac0;
  --purple-color-600: #4a2e9a;
  --purple-color-700: #382373;
  --purple-color-800: #25174d;
  --purple-color-900: #130c26;

  /* Brand Colors */
  --primary-color: var(--blue-color);
  --secondary-color: #26a69a;
  --accent-color: #9c27b0;
  --positive-color: #21ba45;
  --negative-color: var(--red-color);
  --info-color: #31ccec;
  --warning-color: #f2c037;
  --dark-color: #1d1d1d;

  /* Font Weight */
  --font--weight-light: 200;
  --font--weight-medium: 400;
  --font--weight-bold: 700;
  --font--weight-black: 900;

  /* Typography */
  --font-size-1: 3.5rem;
  --font-size-2: 2.5rem;
  --font-size-3: 2rem;
  --font-size-4: 1.5rem;
  --font-size-5: 1rem;
  --font-size-6: 0.875rem;

  /* Spacing */
  --spacing-1: 1rem;
  --spacing-2: 2rem;
  --spacing-3: 2.5rem;
  --spacing-4: 3rem;
  --spacing-5: 4rem;

  --header-height: 4.5rem;

  --box-shadow-1: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --box-shadow-2: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
  font-family: var(--body--font);
  color: var(--black-color);
  font-size: var(--font-size-5);
  margin-top: var(--header-height);
}

.font-weight-light {
  font-weight: var(--font--weight-light);
}

.font-weight-medium {
  font-weight: var(--font--weight-medium);
}

.font-weight-bold {
  font-weight: var(--font--weight-bold);
}

.font-weight-black {
  font-weight: var(--font--weight-black);
}

/* Layout */
.container {
  margin: 0 auto;
  padding: 0 var(--spacing-1);
}

/* Section */
.section {
  padding: calc(var(--header-height) + 1rem) 0;
}

.section__title {
  position: relative;
  font-size: var(--font-size-3);
  color: var(--primary-color);
  text-align: center;
  font-weight: var(--font--weight-black);
  margin-bottom: var(--spacing-5);
}

.section__title::after {
  position: absolute;
  content: '';
  width: 64px;
  height: 0.25rem;
  background-color: var(--primary-color);
  left: 0;
  right: 0;
  top: 3rem;
  margin: 0 auto;
}

.bg-gery-1 {
  background-color: #f6f6f6;
}

/* Header */
.header {
  z-index: 10;
  background-color: var(--dark-color);
  color: var(--white-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font--weight-black);
  height: var(--header-height);
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav__img {
  width: 42px;
  height: 42px;
}

.nav__brand {
  font-size: var(--font-size-4);
}

.nav__list {
  display: flex;
}

.nav__item {
  position: relative;
  margin-right: 3vw;
}

.active-link::after,
.nav__link:hover::after {
  background-color: var(--info-color);
  height: 0.18rem;
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  top: 2rem;
}

/* Home */
.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-5) 0;
}

.home__title {
  width: 80%;
  font-size: var(--font-size-2);
  line-height: calc(var(--font-size-2) * 1.4);
  font-weight: var(--font--weight-black);
  margin-bottom: var(--spacing-3);
}

.home__title-color {
  color: var(--primary-color);
}

.home__content {
  padding: 20px;
  width: 80%;
  height: 486px;
  box-shadow: var(--box-shadow-2);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.home__img {
  border-radius: 50%;
  height: 360px;
}

.home__data {
  color: var(--gray-color);
}

.home__profile {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  width: 100%;
}

.home__icon {
  font-size: var(--font-size-4);
  transition: cur;
}

.home__social {
  margin-top: var(--spacing-5);
}

.home__social--link {
  transition: 0.3s;
}

.home__social--link:hover {
  color: var(--primary-color);
}

.home__text {
  color: currentColor;
  margin-left: 20px;
  font-weight: var(--font--weight-medium);
}

/* About */
.about__container {
  display: flex;
  align-items: center;
}

.about__subtitle {
  font-size: var(--font-size-4);
  font-weight: var(--font--weight-bold);
  margin-bottom: var(--spacing-2);
  text-align: center;
}

.about__text {
  font-size: var(--font-size-4);
  text-align: center;
  color: var(--gray-color);
}

/* Skills */
.skills__container {
  column-gap: var(--spacing-4);
  align-items: center;
}

.skills__subtitle {
  font-size: var(--font-size-4);
  font-weight: var(--font--weight-black);
  margin-bottom: var(--spacing-3);
  text-align: center;
}

.skills__progess-collection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.skills__datas {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills__progessbars {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills__data {
  margin-top: var(--spacing-1);
  font-weight: var(--font--weight-bold);
  overflow: hidden;
  cursor: default;
}

.skills__icon {
  color: var(--info-color);
  font-size: var(--font-size-1);
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__name {
  font-size: var(--font-size-4);
  color: var(--gray-color-600);
  margin-left: 1vw;
}

.skills__progessbar {
  width: 100%;
  height: 36px;
  margin-top: var(--spacing-1);
  background-color: var(--gray-color-400);
  border-radius: 5px;
  box-shadow: var(--box-shadow-2);
}

.skills__percentage {
  background-color: var(--green-color-300);
  background: linear-gradient(
    90deg,
    var(--green-color-100),
    var(--green-color-300)
  );
  height: 28px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 1%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  border-radius: 5px;
  width: 0;
  transition: width 4s ease;
}

.skills__percentage-text {
  font-size: var(--font-size-5);
  color: var(--gray-color-700);
}

/* Projects */
.projects__container {
  display: grid;
  grid-auto-rows: 100%;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  padding: 0;
  margin: 20px auto 0;
  width: 80%;
  gap: 10px;
}

.projects__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: var(--box-shadow-1);
  background-color: var(--gray-color-400);
}

.projects__img {
  width: 100%;
  padding: 2.5%;
  transition: 1s;
  display: block;
}

.projects__link:hover .projects__img {
  transform: scale(1.05);
}

/* Contact */
.contact__container {
  display: flex;
  justify-content: center;
}

.contact__form {
  width: 360px;
}

.contact__input {
  width: 100%;
  outline: none;
  border: 1.5px solid var(--dark-color);
  padding: var(--spacing-1);
  border-radius: 12px;
  margin-bottom: var(--spacing-1);
  font-size: var(--font-size-6);
  font-weight: var(--font--weight-bold);
}

.contact__btn {
  margin-left: auto;
  display: block;
  font-size: var(--font-size-5);
  font-weight: var(--font--weight-bold);
  width: 96px;
  height: 32px;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 12px;
}

/* Footer */
.footer {
  color: var(--white-color);
  background-color: var(--dark-color);
  padding: var(--spacing-4) 0 var(--spacing-2);
  font-weight: var(--font--weight-bold);
  text-align: center;
}

.footer__title {
  font-size: var(--font-size-4);
  margin-bottom: var(--spacing-4);
}

.footer__copy {
  font-size: var(--font-size-5);
  margin-bottom: var(--spacing-2);
}

.footer__icon {
  font-size: var(--font-size-1);
}

/* Floating Button */
.floating__btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: var(--white-color);
  background-color: var(--dark-color);
  font-size: var(--font-size-1);
  border-radius: 50%;
  box-shadow: var(--box-shadow-2);
  transition: 0.5s;
}

.floating__btn:hover {
  background-color: var(--primary-color);
}

/* Typical Device Breakpoints */
/* Landscape Tablets */
@media only screen and (max-width: 768px) {
  .home__title {
    font-size: var(--font-size-3);
  }

  .home__img {
    display: none;
  }
}

/* Laptops / Desktops */
@media only screen and (max-width: 992px) {
  .nav__logo {
    display: none;
  }
  .nav__container {
    display: flex;
    justify-content: flex-end;
  }
  .skills__name {
    display: none;
  }

  .skills__data {
    display: flex;
    justify-content: center;
  }
}

/* Desktops */
@media only screen and (max-width: 1200px) {
  :root {
    /* Typography */
    --font-size-1: 2.5rem;
    --font-size-2: 2rem;
    --font-size-3: 1.5rem;
    --font-size-4: 1rem;
    --font-size-5: 0.875rem;
    --font-size-6: 0.75rem;
  }
}

@media only screen and (min-width: 1200px) {
  .home__content {
    width: 980px;
  }
  .home__title {
    width: 980px;
  }

  .skills__progess-collection {
    width: 1100px;
  }

  .projects__container {
    width: 980px;
  }
}

@media only screen and (min-width: 1920px) {
}

/* Projects Filp Active */
/* 
.back__title {
  font-weight: var(--font--weight-bold);
  margin-bottom: 8px;
}

.back__inner {
  margin-bottom: 12px;
  font-size: var(--font-size-6);
}

.back__subTitle {
  margin-bottom: 8px;
  font-weight: var(--font--weight-medium);
}

.projects__back {
  font-weight: var(--font--weight-light);
}

.back__btn {
  color: var(--white-color);
  font-weight: var(--font--weight-medium);
  text-align: center;
  background-color: var(--gray-color-600);
  font-size: var(--font-size-6);
  border-radius: 8px;
  margin-right: 8px;
} */
